.navbar{
    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    height: 80px;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.show_black{
    background-color: #111;
}

.nav_logo{
    position: fixed;
    top: -30px;
    left: 20px;
    width: 300px;
    object-fit: contain;
}


.nav_avatar{
    position: fixed;
    right: 50px;
    top: 14px;
    width: 40px;
    object-fit: contain;
}  


@media screen and (max-width:412px) {
    .nav_logo{
        position: fixed;
        left: -40px;
    }
    .nav_avatar{
        position: fixed;
        right: 30px;
    }
}